.App {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  transition: height 0.3s, box-shadow 0.3s;
}
.card:hover {
  height: 410px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
  background-color: blue;
  color: white;
}
